#rep1
output/bowtie2_endtoend/ESC_HET_H3K27me3_R1.unique.dupmark.sorted.bam
output/bowtie2_endtoend/ESC_HET_H3K27me3_R2.unique.dupmark.sorted.bam
#rep2
output/bowtie2_endtoend/NPC_HET_H3K27me3_R1.unique.dupmark.sorted.bam
output/bowtie2_endtoend/NPC_HET_H3K27me3_R2.unique.dupmark.sorted.bam
#genome
/scr1/users/roulet/Akizu_Lab/Master/meta/GRCh38_no_alt_analysis_set_GCA_000001405.15.fasta
#chrom_sizes
/scr1/users/roulet/Akizu_Lab/Master/meta/GRCh38_chrom_sizes.tab
#inputs1
output/bowtie2_endtoend/ESC_HET_input_R1.unique.dupmark.sorted.bam
output/bowtie2_endtoend/ESC_HET_input_R2.unique.dupmark.sorted.bam
#inputs2
output/bowtie2_endtoend/NPC_HET_input_R1.unique.dupmark.sorted.bam
output/bowtie2_endtoend/NPC_HET_input_R2.unique.dupmark.sorted.bam